Repository shaggy17goo/uami2021l: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger-PatientsData, trigger-AppointmentsData, trigger-DoctorsApplicationMicroservice

trigger-PatientsData:
  stage: trigger
  trigger:
    include: k8s/PatientsData/.gitlab-ci.yml
    strategy: depend

trigger-AppointmentsData:
  stage: trigger
  trigger:
    include: k8s/AppointmentsData/.gitlab-ci.yml
    strategy: depend

trigger-DoctorsApplicationMicroservice:
  stage: trigger
  trigger:
    include: k8s/DoctorsApplicationMicroservice/.gitlab-ci.yml
    strategy: depend

Add tests to CI/CD of PatientsData
  k8s/PatientsData/.gitlab-ci.yml
Due: trigger-PatientsData

Add tests to CI/CD of DoctorsApplicationMicroservice
  k8s/DoctorsApplicationMicroservice/.gitlab-ci.yml
Due: trigger-DoctorsApplicationMicroservice

Update .gitlab-ci.yml
  k8s/DoctorsApplicationMicroservice/.gitlab-ci.yml
Due: trigger-DoctorsApplicationMicroservice

Update .gitlab-ci.yml
  k8s/PatientsData/.gitlab-ci.yml
Due: trigger-PatientsData

Tests
  k8s/WebApp/UnitTests/UnitTest1.cs
  k8s/WebApp/UnitTests/UnitTests.csproj
  k8s/WebApp/WebApp.sln
Due: none

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Add new file
  k8s/WebApp/.gitlab-ci.yml
Due: none

a
  k8s/AppointmentsData/.gitlab-ci.yml
  k8s/DoctorsApplicationMicroservice/.gitlab-ci.yml
  k8s/PatientsData/.gitlab-ci.yml
  k8s/WebApp/BlazorServer/BlazorServer.csproj
  k8s/WebApp/Dockerfile
  k8s/WebApp/WebApp.sln
  k8s/WebApp/WebApp.sln.DotSettings.user
Due: trigger-PatientsData, trigger-AppointmentsData, trigger-DoctorsApplicationMicroservice

a
  k8s/WebApp/.gitlab-ci.yml
Due: none

a
  k8s/WebApp/UnitTests/UnitTest1.cs
Due: none

A
  .gitlab-ci.yml
Due: none

A
  k8s/docker-compose.yaml
Due: none

A
  k8s/PatientWebApp/.gitlab-ci.yml
Due: none

a
  .gitlab-ci.yml
  k8s/Doctors/.gitlab-ci.yml
  k8s/Doctors/Doctors.sln.DotSettings.user
  k8s/PatientsApplicationMicroservice/.gitlab-ci.yml
  k8s/kubectl.yaml
Due: none

a
  k8s/Doctors/.gitlab-ci.yml
  k8s/PatientsApplicationMicroservice/.gitlab-ci.yml
Due: none

a
  k8s/PatientsApplicationMicroservice/PatientsApplicationMicroservice.sln
Due: none

a
  k8s/kubectl.yaml
Due: none

a
  k8s/docker-compose.yaml
Due: none

a
  .gitlab-ci.yml
  k8s/AppointmentsData/.gitlab-ci.yml
  k8s/AppointmentsData/kubectl.yaml
  k8s/Doctors/kubectl.yaml
  k8s/DoctorsApplicationMicroservice/kubectl.yaml
  k8s/PatientWebApp/kubectl.yaml
  k8s/PatientsApplicationMicroservice/kubectl.yaml
  k8s/PatientsData/kubectl.yaml
  k8s/kubectl.yaml
Due: trigger-PatientsData, trigger-AppointmentsData, trigger-DoctorsApplicationMicroservice

a
  k8s/AppointmentsData/.gitlab-ci.yml
Due: trigger-AppointmentsData

Update .gitlab-ci.yml
  k8s/AppointmentsData/.gitlab-ci.yml
Due: trigger-AppointmentsData

a
  k8s/Doctors/.gitlab-ci.yml
  k8s/DoctorsApplicationMicroservice/.gitlab-ci.yml
  k8s/PatientWebApp/.gitlab-ci.yml
  k8s/PatientsApplicationMicroservice/.gitlab-ci.yml
  k8s/PatientsData/.gitlab-ci.yml
Due: trigger-PatientsData, trigger-DoctorsApplicationMicroservice

a
  k8s/Doctors/.gitlab-ci.yml
Due: none

...
  k8s/app_web/ZsutPwPatterns.Application.Model/IData.cs
  k8s/app_web/ZsutPwPatterns.Application.Model/Model_Data.cs
  k8s/app_web/ZsutPwPatterns.Application.Model/Model_Operations.cs
  k8s/app_web/ZsutPwPatterns.Application.Model/Service/NetworkClient.cs
  k8s/app_web/ZsutPwPatterns.Application.Utilities/ServiceClient.cs
  k8s/app_web/ZsutPwPatterns.WebApplication.BlazorServer/Pages/AddAppointment.razor
  k8s/app_web/ZsutPwPatterns.WebApplication.BlazorServer/Pages/AddPatient.razor
  k8s/app_web/ZsutPwPatterns.WebApplication.BlazorServer/Pages/Appointments.razor
  k8s/app_web/ZsutPwPatterns.WebApplication.BlazorServer/Pages/AppointmentsDate.razor
  k8s/app_web/ZsutPwPatterns.WebApplication.BlazorServer/Pages/Help.razor
  k8s/app_web/ZsutPwPatterns.WebApplication.BlazorServer/Pages/List.razor
  k8s/app_web/ZsutPwPatterns.WebApplication.BlazorServer/Pages/List_Radzen.razor
  k8s/app_web/ZsutPwPatterns.WebApplication.BlazorServer/Pages/PatientById.razor
  k8s/app_web/ZsutPwPatterns.WebApplication.BlazorServer/Pages/Patients.razor
  k8s/app_web/ZsutPwPatterns.WebApplication.BlazorServer/Pages/Settings.razor
  k8s/app_web/ZsutPwPatterns.WebApplication.BlazorServer/Shared/NavMenu.razor
  k8s/app_web/ZsutPwPatterns.WebApplication.BlazorServer/ZsutPwPatterns.WebApplication.BlazorServer.csproj.user
Due: none

Path conditions:
  trigger-PatientsData: any of: k8s/PatientsData/**/*
  trigger-AppointmentsData: any of: k8s/AppointmentsData/**/*
  trigger-DoctorsApplicationMicroservice: any of: k8s/DoctorsApplicationMicroservice/**/*
