Repository shaggy17goo/uami2021l: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger-PatientsData, trigger-Doctors, trigger-AppointmentsData, trigger-DoctorsApplicationMicroservice, trigger-PatientsApplicationMicroservice, trigger-PatientWebApp

 .gitlab-ci.yml:

stages:
  - trigger
  - deploy

trigger-PatientsData:
  stage: trigger
  trigger:
    include: k8s/PatientsData/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
        - k8s/PatientsData/**/*

deploy:
  stage: deploy
  tags:
    - all
  only:
    - master
  script:
    - docker-compose -f dockerize/docker-compose.yaml pull
    - docker-compose up -d
    - docker-compose down

.gitlab-ci.yml:

stages:
  - trigger
  - deploy

trigger-PatientsData:
  stage: trigger
  trigger:
    include: k8s/PatientsData/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
        - k8s/PatientsData/**/*

trigger-Doctors:
  stage: trigger
  trigger:
    include: k8s/Doctors/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
        - k8s/Doctors/**/*
        
trigger-AppointmentsData:
  stage: trigger
  trigger:
    include: k8s/AppointmentsData/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
        - k8s/AppointmentsData/**/*

trigger-DoctorsApplicationMicroservice:
  stage: trigger
  trigger:
    include: k8s/DoctorsApplicationMicroservice/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
        - k8s/DoctorsApplicationMicroservice/**/*
        
trigger-PatientsApplicationMicroservice:
  stage: trigger
  trigger:
    include: k8s/PatientsApplicationMicroservice/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
        - k8s/PatientsApplicationMicroservice/**/*

trigger-PatientWebApp:
  stage: trigger
  trigger:
    include: k8s/PatientWebApp/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
        - k8s/PatientWebApp/**/*

Update Patient_Web_App
  k8s/PatientWebApp/BlazorServer/Pages/AppointmentsHistory.razor
  k8s/PatientWebApp/BlazorServer/Pages/DoctorById.razor
  k8s/PatientWebApp/BlazorServer/Pages/FutureAppointments.razor
  k8s/PatientWebApp/BlazorServer/Pages/ListAllDoctors.razor
  k8s/PatientWebApp/BlazorServer/Pages/PatientById.razor
Due: trigger-PatientWebApp

Update patient web app
  k8s/PatientWebApp/BlazorServer/Pages/AppointmentsHistory.razor
  k8s/PatientWebApp/BlazorServer/Pages/DoctorById.razor
  k8s/PatientWebApp/BlazorServer/Pages/FutureAppointments.razor
  k8s/PatientWebApp/BlazorServer/Pages/ListAllDoctors.razor
  k8s/PatientWebApp/BlazorServer/Pages/PatientById.razor
Due: trigger-PatientWebApp

Last fix :(
  k8s/PatientWebApp/BlazorServer/Pages/DoctorById.razor
  k8s/PatientWebApp/BlazorServer/Pages/ListAllDoctors.razor
  k8s/PatientWebApp/BlazorServer/Pages/PatientById.razor
  k8s/PatientWebApp/Model/Model_Data.cs
Due: trigger-PatientWebApp

Refactor code
  k8s/PatientWebApp/BlazorServer/Pages/AppointmentsHistory.razor
  k8s/PatientWebApp/BlazorServer/Pages/DoctorById.razor
  k8s/PatientWebApp/BlazorServer/Pages/FutureAppointments.razor
  k8s/PatientWebApp/BlazorServer/Pages/ListAllDoctors.razor
  k8s/PatientWebApp/BlazorServer/Pages/PatientById.razor
  k8s/PatientWebApp/Controller/IController.cs
  k8s/PatientWebApp/Model/Data/AppointmentDto.cs
  k8s/PatientWebApp/Model/Data/AppointmentWithNamesDto.cs
  k8s/PatientWebApp/Model/Data/DoctorDto.cs
  k8s/PatientWebApp/Model/Data/PatientDto.cs
  k8s/PatientWebApp/Model/IData.cs
  k8s/PatientWebApp/Model/IModel.cs
  k8s/PatientWebApp/Model/IOperations.cs
  k8s/PatientWebApp/Model/Model.cs
  k8s/PatientWebApp/Model/Model_Data.cs
  k8s/PatientWebApp/Model/Model_Operations.cs
  k8s/PatientWebApp/Model/NotConnectedException.cs
  k8s/PatientWebApp/Model/Service/FakeNetworkClient.cs
  k8s/PatientWebApp/Model/Service/INetwork.cs
  k8s/PatientWebApp/Model/Service/NetworkClient.cs
  k8s/PatientWebApp/Model/Service/NetworkClientFactory.cs
  k8s/PatientWebApp/UnitTests/UnitTest1.cs
  k8s/PatientWebApp/Utilities/ControllerCommand.cs
  k8s/PatientWebApp/Utilities/PropertyContainerBase.cs
  k8s/PatientWebApp/Utilities/ServiceClient.cs
  k8s/buildPush.bat
  k8s/docker-compose.yaml
Due: trigger-PatientWebApp

Fix tests
  k8s/PatientWebApp/UnitTests/UnitTest1.cs
  k8s/PatientWebApp/WebApp.sln.DotSettings.user
  k8s/buildPush.bat
Due: trigger-PatientWebApp

Refactor PatientsData
  k8s/PatientsData/PatientsData.Domain/PatientAggregate/IPatientsRepository.cs
  k8s/PatientsData/PatientsData.Domain/PatientAggregate/Patient.cs
  k8s/PatientsData/PatientsData.Infrastructure/Repositories/PatientsRepository.cs
  k8s/PatientsData/PatientsData.Web/Application/Commands/AddPatientCommand.cs
  k8s/PatientsData/PatientsData.Web/Application/Commands/PatientsCommandsHandler.cs
  k8s/PatientsData/PatientsData.Web/Application/Queries/IPatientQueriesHandler.cs
  k8s/PatientsData/PatientsData.Web/Application/Queries/PatientQueriesHandler.cs
  k8s/PatientsData/PatientsData.Web/Controllers/PatientsController.cs
  k8s/PatientsData/PatientsData.Web/Startup.cs
  k8s/PatientsData/UnitTests/UnitTest1.cs
Due: trigger-PatientsData

ehh
  dockerize/DoctorsApplicationMicroservice/DoctorsApplicationMicroservice.Web/DoctorsApplicationMicroservice.Web.csproj.user
  k8s/Doctors/UnitTests/UnitTest.cs
Due: trigger-Doctors

Refactor DoctorApplication
  k8s/DoctorsApplicationMicroservice/DoctorsApplicationMicroservice.Web/Application/DataServiceClients/AppointmentServiceClient.cs
  k8s/DoctorsApplicationMicroservice/DoctorsApplicationMicroservice.Web/Application/DataServiceClients/DoctorServiceClient.cs
  k8s/DoctorsApplicationMicroservice/DoctorsApplicationMicroservice.Web/Application/DataServiceClients/PatientServiceClient.cs
  k8s/DoctorsApplicationMicroservice/DoctorsApplicationMicroservice.Web/Program.cs
  k8s/DoctorsApplicationMicroservice/DoctorsApplicationMicroservice.Web/Startup.cs
  k8s/DoctorsApplicationMicroservice/UnitTests/FakeClients/FakeDoctorServiceClient.cs
  k8s/DoctorsApplicationMicroservice/UnitTests/FakeRepositories/TestAppointmentRepository.cs
  k8s/DoctorsApplicationMicroservice/UnitTests/UnitTest1.cs
Due: trigger-DoctorsApplicationMicroservice

Refactor PatientWebApp tests
  k8s/PatientWebApp/UnitTests/UnitTest1.cs
Due: trigger-PatientWebApp

oswiadczenie
  oswiadczenia/Wawrzyńczak_Michał_UAIM_oświadczenie.pdf
Due: none

Oświadczenie Paweł Gryka
  oswiadczenia/Pawel_Gryka_Oswiadczenie.png
Due: none

clean
  oswiadczenia/Pawel_Gryka_Oswiadczenie.png
  oswiadczenia/Wawrzyńczak_Michał_UAIM_oświadczenie.pdf
Due: none
